<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalagaonica Džoker</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- FAVICON
    ================================================== -->
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <!-- Fonts
    ===================================================-->
    <!-- Open Graph -->
    <!-- JSON-LD TODO-->
  </head>
  <body id="home">
    <!-- header
    ================================================== -->
    {{> _header }}
    <!-- social
    ================================================== -->
    {{> _social }}
    <!-- home
    ================================================== -->
    <div class="grid-container">
      <div class="title-wrap fadein">
        <h1>Zalagaonica Džoker</h1>
      <div class="phone-box">
        <a href="tel:{{ data.phone }}"><i class="icon-telephone"></i></a>
        <div class="phones">
          011 318 56 69
          <br>
          069 318 56 69
        </div>
      </div>
      </div>
      <div class="card fadein">
        <div class="card-ico">
          <i class="icon-diamond"></i>
        </div>
        <div class="card-title">
          <h2>Zalagaonica</h2>
        </div>
        <a href="{{  data.root }}/usluge#zalog" class="card-btn">
          <i class="icon-arrow"></i>
        </a>
      </div>
      <div class="card fadein">
        <div class="card-ico">
          <i class="icon-lone"></i>
        </div>
        <div class="card-title">
          <h2>Novčane pozajmice</h2><br><h3>nekretnine  </h3>
        </div>
        <a href="{{  data.root }}/usluge#pozajmice" class="card-btn">
          <i class="icon-arrow"></i>
        </a>
      </div>
      <div class="card fadein">
        <div class="card-ico">
          <i class="icon-wallet"></i>
        </div>
        <div class="card-title">
          <h2>Plasman novca</h2>
        </div>
        <a href="{{  data.root }}/usluge#plasman" class="card-btn">
          <i class="icon-arrow"></i>
        </a>
      </div>
      <div class="card fadein">
        <div class="card-ico">
          <i class="fa-solid fa-coins"></i>
        </div>
        <div class="card-title">
          <h2>Otkup zlata</h2><br><h3>Trenutna cena</h3>
        </div>
        <a href="{{  data.root }}/usluge#zalog" class="card-btn">
          <i class="icon-arrow"></i>
        </a>
      </div>
      <div class="card fadein">
        <div class="card-ico">
          <i class="icon-shoping"></i>
        </div>
        <div class="card-title">
          <h2>Prodaja</h2>
        </div>
        <a href="{{  data.root }}/usluge#prodaja" class="card-btn">
          <i class="icon-arrow"></i>
        </a>
      </div>
    </div>
    <!-- preloader
    ================================================== -->
    {{> _preloader }}
    <!-- <script src="{{ data.root }}assets/js/plugins.js"></script> -->
    <script src="assets/js/main.js"></script>
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/3f7f7bdb28.js" crossorigin="anonymous"></script>
  </body>
</html>
